<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>22nd to 24th of March</h2>
                <p class="lead">Located in <a target="_blank" href="#map">Mostar, Bosnia and Herzegovina</a>.</p>
            </div>
        </div>
    </div>
</section>
