<aside class="callout">
    <div class="text-vertical-center" style="padding-right: 8%; padding-left: 8%;">
        <h3 style="margin-top: 4%; margin-bottom: 4%;">Welcome, dear delegates. Welcome to Model United Nations in Mostar Edition 2018 !
<br><br>
It is a real pleasure for us to be able to continue the tradition of MUN Conferences here in Bosnia and especially in our school, United World College.
<br><br>
We really want to thank all the people who helped us build this project, all the staff and all the students of our school and local community. Even more, we would like to thank you, delegates, because you are and will always be the core of any kind of event like this one.
<br><br>
Churchill once said: "I have nothing to offer but tears, blood, and sweat". We would rephrase it kind of differently: "We have nothing to offer but fun, epicness and emotionnal speeches". 
<br><br>
MUN is coming, get ready for it.

<br>-Anika Kowald and Victor Mulsant</h3>
    </div>
</aside>
