<aside class="call-to-action bg-primary b1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Please find here:</h3>
                <a href="/Invitation_Letter.pdf" class="btn btn-lg btn-light">The invitation letter!</a>
                <a href="/Schedule.pdf" class="btn btn-lg btn-dark">The schedule</a>
            </div>
        </div>
    </div>
</aside>
