<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>MUNiM 2018</h1>
        <h3>Moister than an oyster</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Apply Now!</a>
    </div>
</header>
