<header id="top" class="header">
    <div class="text-vertical-center">
        <h1 style="color: #fff; text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">MUNiM 2018</h1>
        <h3 style="color: #fff; text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">Applications open until 28/2/2018</h3>
        <br>
        <a href="#services" class="btn btn-dark btn-lg">Apply Now!</a>
    </div>
</header>
