<section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2901.6194513760124!2d17.8051780157724!3d43.34315167913317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134b43a6481407df%3A0xa9a5ce5c8c473e55!2sUnited+World+College!5e0!3m2!1sen!2sba!4v1515680185641"></iframe>
    <br />
    <small>
        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2901.6194513760124!2d17.8051780157724!3d43.34315167913317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134b43a6481407df%3A0xa9a5ce5c8c473e55!2sUnited+World+College!5e0!3m2!1sen!2sba!4v1515680185641"></a>
    </small>
    </iframe>
</section>
