<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary b2">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Application</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-user fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>BiH Individual</strong>
                            </h4>
                            <p>To be filled by students</p>
                            <a href="https://goo.gl/forms/WNgHQ43JMOjl4GpB3" class="btn btn-light">Apply!</a>
                            <p>(Mostar student apply free through email)</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-users fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>BiH Delegation</strong>
                            </h4>
                            <p>To be filled by Project coordinators
                            </p>
                            <a href="https://goo.gl/forms/VYmmEf4pv0p4tNLn2" class="btn btn-light">Apply!</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-user fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>International Individual</strong>
                            </h4>
                            <p>To be filled by students</p>
                            <a href="https://goo.gl/forms/ww4PTYELrwEAXU0s2" class="btn btn-light">Apply!</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-users fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>International Delegation</strong>
                            </h4>
                            <p>To be filled by Project coordinators</p>
                            <a href="https://goo.gl/forms/eb3RwWtBTQaquHED2" class="btn btn-light">Apply!</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
