   <%= render "stylish_portfolios/navigation" %>
   <header class="masthead">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Disarmament Council</h1>
              <span class="subheading">Addressing the control of small arms and light weapons in post-conflict zones.<br>
Takling cyber warfare.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
    	<h3>DISARMAMENT AND INTERNATIONAL SECURITY COUNCIL (DISEC)<br>
    	Role of the DISEC Council:</h3><br>
    	<h4> 		 	 	 						
    		The First Committee deals with disarmament, global challenges and threats to peace that affect the international community and seeks out solutions to the challenges in the international security regime.<br><br>

    		It considers all disarmament and international security matters within the scope of the UN Charter or relating to the powers and functions of any other organ of the United Nations; the general principles of cooperation in the maintenance of international peace and security, as well as principles governing disarmament and the regulation of armaments; promotion of cooperative arrangements and measures aimed at strengthening stability through lower levels of armaments.<br><br>

    		The Committee works in close cooperation with the United Nations Disarmament Commission and the Geneva-based Conference on Disarmament. It is the only Main Committee of the General Assembly entitled to verbatim records coverage. <br><br>

    		The Disarmament and International Security Committee (DISEC) is the First Committee of the United Nations General Assembly (GA). It includes all nations that are United Nations Member States. DISEC deals with issues regarding the promotion, establishment, and subsequent maintenance of global peace while simultaneously working to prevent weapons proliferation. Under the UN Charter, all member states and observers of the United Nations are automatically part of the first committee of the General Assembly, and have an equal vote. Documents drafted by this committee require a simple majority to be passed. Like the other committees of the United Nations General Assembly, DISEC is unable to impose sanctions, authorize armed intervention, or pass binding resolutions.4 With the increase of weapons and growing security threats, DISEC continues to grow in importance and becomes a significant part of resolving international crises.
    		<br><br>
    		In summary, DISEC cannot require that countries take a specific action. However, the committee can make recommendations to the Security Council about what should be done on a specific issue. 
    		<br></h4>
    		<h3>
    			TOPIC OF THIS CONFERENCE:			
    		</h3><h4>
    			Addressing the control of small arms and light weapons in post-conflict zones.
    		Tackling cyber warfare. </h4>
    		<h3>Chairs</h3>
    		<h4>Antonio/ Ariana</h4>
    	</div>