   <%= render "stylish_portfolios/navigation" %>
   <header class="masthead" style="background-image: url(<%= asset_path 'home-bg.jpg' %>)">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Environment Council</h1>
              <span class="subheading">Finding ways to ensure the enforcement of International Agreements concerning the environment.
Creating new International agreements concerning the Arctic.</span>
            </div>
          </div>
        </div>
      </div>
    </header>