   <%= render "stylish_portfolios/navigation" %>
   <header class="masthead" style="background-color: #4e8453;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Environment Council</h1>
              <span class="subheading">Revision of the sustainability of alternative fossil fuels: fracking and tar sands.<br>
Creating new International agreements concerning the Arctic.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
    	<h3>UNITED NATION ENVIRONMENTAL PROGRAMME (UNEP)<br>
    	Role of the Environmental and Sustainability Council:</h3><br>
    	<h4>
    		United Nations Environment Programme is the UN platform for the environment issues since 1972. UNEP was established with the mission of providing the leadership for the environment for empowering and enlightening the nations for a environmental action. UNEP mandate makes the organization serve as the advocate of the global environment in UN level.<br><br>
    		UNEP headquarters is located in Kenya, Nairobi, but there are several regional offices around the world. UNEP activity range is specialized with its six priority targets. These targets are environmental governance, harmful substances and hazardous waste, Resource efficiency, disaster and conflicts, ecosystem management and climate change.<br><br>
    		In June 23, 2014 UNEP Governing council – the decision-making organ of UNEP consisting of 58 members elected in General Assembly- convened with a universal representation under the name of United Nations Environmental Assembly. UNEA came to life by world leaders’ demands in Rio20+ summit. These demands were made concerning the strength and universal effect of UNEP decisions. Consequently in the UNEP General Council drafted a decision recommending United Nations General Assembly to designate the name of UNEP-Governing Council to United Nations Environment Programme and change the 58 member representative to universal membership.<br><br>
    		UNEA can discuss the reports or policy advices sent by the Committee of Permanent Representatives (CPR). UNEA also has the right to recommend draft resolutions to be adopted in United Nations General Assembly in order to achieve the implementation in UN system-wide.<br></h4><h3>
    		TOPIC OF THIS CONFERENCE:</h3><h4>
    			Finding ways to ensure the enforcement of International Agreements concerning the environment.<br>
    		Creating new International Agreements concerning the Arctic. </h4>
    		<h3>Chairs</h3>
    		<h4>Aisa/ Mauricio</h4>
    	</div>

    	    	<%= render "stylish_portfolios/footer" %>