   <%= render "stylish_portfolios/navigation" %>
   <header class="masthead" style="background-image: url(<%= asset_path 'home-bg.jpg' %>)">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>European Union Council</h1>
              <span class="subheading">Deciding on the means to condemn Member States<br>
A common immigration policy in the EU zone applied to all member states.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<div class="container">
    <h3>EUROPEAN UNION COUNCIL (EU)<br>
Role of the European Union Council:</h3><br>
<h4>
The European Union, framed in 1993 by the Maastricht Treaty, is a standout amongst the most capable monetary and provincial  unions on the planet. The EU has a member-state roster of 28 part expresses, the most recent one being Croatia (having joined  in July of 2013). It has, within itself, numerous organizations such as the European Parliament, European Court of Justice, and the  European Commission. The European Parliament is the directly elected parliamentary institution of the European Union. Together with the Council of the European Union and the European Commission, it exercises the legislative function of the EU. It gains strength from the union of its sovereign individual nations, the vast majority of which were once worldwide superpowers that have now exclusively lessened, and make effective the European Union. The EU votes by agreement, implying that a mandate (determination) will come up short if even one party state votes against it. Delegates of the BSBMUN's Council  of the European Union are required to give the high purposes of their level headed discussion and conciliatory aptitudes look into and discretionary abilities, keeping up their contentions consistent with their own nations' discernments as they are put in the shoes of European Union member-states to discuss many of the current ongoing debates being held within the Council of the European Union itself.<br></h4><h3>
TOPIC OF THIS CONFERENCE: </h3><h4>
Deciding on giving the EU the means to condemn Member States.
Deciding on a common immigration policy in the EU zone applied to all member states.</h4>
<h3>Chairs</h3>
<h4>Leo/ Hanadi</h4>
</div>