   <%= render "stylish_portfolios/navigation" %>
   <header class="masthead" style="background-image: url(<%= asset_path 'home-bg.jpg' %>)">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>European Union Council</h1>
              <span class="subheading">Deciding on the means to condemn Member States
A common immigration policy in the EU zone applied to all member states.</span>
            </div>
          </div>
        </div>
      </div>
    </header>