   <%= render "stylish_portfolios/navigation" %>
   <header class="masthead" style="background-color: #e0e223;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Historical Council</h1>
              <span class="subheading">The Great Heathen Army invasion of Great Britain in 865 AD.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<div class="container">
    <h3>HISTORICAL SECURITY COUNCIL (HSC)<br>
Role of the Historical Security Council:</h3><br>
<h4>
The United Nations Security Council (UNSC) is a permanent council established by the UN Charter, with the sole purpose of maintaining international peace and security. It is composed of 15 members; 5 permanent members (referred to as the P5 nations; United States, USSR (Russia), China (replaced Taiwan after UNSC Resolution 2758 in 1971), France and the UK) and 10 non-permanent members (elected every two years). The UNSC is the only council that can force a nation to do something, as long as it passes in a Resolution (Article 25). For a Resolution to pass within the UNSC, there must be 9 votes in favor, and none of the P5 nation may veto the resolution. Furthermore, if a member of the UNSC is directly involved in a dispute being debated within the UNSC, then that member may only abstain from voting on any resolution regarding that dispute (Paragraph 3, Article 27). The UNCS may also establish sub-committees to aid its efforts, and can call for investigations of fact-finding missions (through the Office of the High Commissioner on Human Rights (OHCHR)) to obtain more information on a dispute (keep this in mind when writing your resolutions).<br><br>
​     Within Model UN (MUN), the Historical Security Council (HSC) is essentially the same thing as the Security Council; however, instead of debating current disputes, the HSC debates historical disputes at the time they occurred. 
</h4><h3>
TOPIC OF THIS CONFERENCE:</h3><h4>
The Great Heathen Army invasion of Great Britain in 865 AD.</h4>
<h3>Chairs</h3>
<h4>Loughlin/ Moeed</h4>
</div>
    	<%= render "stylish_portfolios/footer" %>