   <%= render "stylish_portfolios/navigation" %>
   <header class="masthead" style="background-image: url(<%= asset_path 'home-bg.jpg' %>)">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Security Council</h1>
              <span class="subheading">Issue in regard to North Korean nuclear crisis<br>
Issue in regard to the Libyan Civil War</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
    	<h3>SECURITY COUNCIL (SEC) <br>
    	Role of the Security Council:</h3><br>
    	<h4>
    		The Charter of the United Nations – an international treaty – obligates member states to settle their disputes by peaceful means, in such a manner that international peace and security and justice are not endangered. They are to refrain from the threat or use of force against any state, and may bring the dispute before the Security Council. <br><br>
    		The UN Charter gives the Security Council primary responsibility for maintaining international peace and security. The Council may convene at any time, whenever peace is threatened. In contrast to the decisions made by the General Assembly, all Member States are obligated under the UN Charter to carry out the Security Council’s decisions. <br><br>
    		When the Council considers a threat to international peace, it first explores ways to settle the dispute peacefully. It may suggest principles to the parties for a peaceful settlement, appoint special representatives, ask the Secretary-General to use his good offices, or undertake investigation and mediation. It has developed and refined the use of non-military measures including arms embargoes, travel banks, and restrictions to guard against the exploitation of natural resources to fuel conflicts, as well as taking a lead role in the coordination of international counter-terrorism efforts. In the event that a dispute has erupted into armed conflict, the Council tries to secure a ceasefire. It may send a peacekeeping mission to help the parties maintain the truce and to keep opposing forces apart. 
    		<br><br>
    		The Council may, in some cases, authorize the utilization of military force by a coalition of member states or by a regional organization or arrangement. This can only be carried out as a last resort when all possible peaceful means of settling a dispute have been exhausted, or after a threat to the peace, a breach of the peace or an act of aggression have been determined to exist. 
    		<br><br>
    		In order to hold combatants accountable for their actions, the Council has also created international tribunals to prosecute those accused of grave human rights violations and serious breaches of international humanitarian law, including genocide.
    	</h4><h3>
    	TOPIC OF THIS CONFERENCE:</h3><h4>
    		Issues in regard to the North Korean nuclear crisis.
    	Issues in regard to the Libyan Civil War.</h4>
    	<h3>Chairs</h3>
    	<h4>Allen/ Eva</h4>
    </div>