   <%= render "stylish_portfolios/navigation" %>
   <header class="masthead" style="background-image: url(<%= asset_path 'home-bg.jpg' %>)">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Social, Humanitarian, and Cultural Council</h1>
              <span class="subheading">Working for the Integration of transnational minorities.<br>
Providing asylum for LGBTQ individuals fleeing prosecution.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
	    <h3>SOCIAL AND HUMANITARIAN COUNCIL (SOCHUM) <br>
	    Role of the Social and Humanitarian Council:	</h3><br>

	    <h4>			
	    	The Social, Humanitarian and Cultural committee (SOCHUM), also the third committee of the United Nations General Assembly (UNGA), considers a variety of issues ranging from social, humanitarian affairs and human rights issues of all people around the world. Over the years, SOCHUM discusses questions relating to the advancement of women, the protection of children, indigenous issues, the treatment of refugees, the promotion of fundamental freedoms through the elimination of racism and racial discrimination, and the right to self- determination. The Committee also addresses important social development questions such as issues related to youth, family, ageing, persons with disabilities, crime prevention, criminal justice, and international drug control.
	    	<br><br>
	    	Alike other UNGAs, SOCHUM works closely with other UN and non-UN bodies, governmental or nongovernmental. Together, they work according to the Charter of the United Nations. In addition, SOCHUM as a UNGA may request topic-specific reports from other UN agencies, such as the Human Rights Council. The UN Secretary-General reports annually to SOCHUM on different agenda items, and the committee vote on the important matters. The votes are to be recorded. At the end of the session, the committee reports to the plenary bodies of the GA on topic-specific items. 
	    	<br><br>
	    </h4>
	    <h3>		
	    	TOPIC OF THIS CONFERENCE:<br></h3>
	    	<h4>Working for the Integration of transnational minorities.<br>
	    	Providing asylum for LGBTQ+ individuals fleeing persecution.</h4><br>
	    	<h3>Chairs</h3>
	    	<h4>Vanja/ Marlene</h4>
    </div>